@import '../../../client/scss/vars.scss';

.InfoItem {
  margin-bottom: 10px;
  font-size: 30px;
  text-align: left;
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .InfoItem {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
}


.label {
  color: white;
  font-size: 20px;
  margin-right: 6px;
}

.val {
  color: $primary;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.17);
  text-transform: uppercase;
  min-width: 120px;
}

.dec {
  font-size: 13px;
  &:before {
    content: '.';
  }
}
