@import '../../../client/scss/vars.scss';
@import '../../../client/scss/mixins.scss';

.Intro{
  height: 100vh;
  position: relative;

}

@media (max-width: 900px) {
  .Intro {
    max-height: 700px;
  }
}

.canvas {
  height: 100%;
  width: 100%;
}

.title {
  position: absolute;
  z-index: 15;
  color: white;
  text-transform: uppercase;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 1;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .27);
}

.fullImage {
  background-size: cover;
  background-position: left top;
  position: absolute;
  left:0;
  top:0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 600px) {
  .fullImage {
    background-position: center;
  }
}

.wrap {
  position: relative;
  z-index:2;
  max-width: $grid;
  margin: 0 auto;
  height: 80%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;

  @include b(600px) {
    padding: 0 5px 0 10px;
  }
}

@media (min-width: 1200px) {
  .wrap {
    align-items: flex-end;
  }
}


.inner {
  text-align: center;
}

.social {
  margin: 15px 0;
  text-align: center;
}

.media {
  width: 40px;
  height: 40px;
  margin: 0 15px;
  display: inline-block;
  background-size: 100% 100%;
}

.github {
  background-image: url(../../../images/github-logo.png);
}

.linkedin {
  background-image: url(../../../images/linkedin-logo.png);
}

.email {
  color: $white;
  text-decoration: none;
}
@media (min-width: 900px) {
  .email:after,
  .email:before {
    content: '';
    width: 30px;
    height: 1px;
    display: inline-block;
    background: white;
    vertical-align: middle;
    margin: 0 30px;
    transition: transform 0.25s ease-in;
  }

  .email:hover:before {
    transform: translateX(10px);
  }

  .email:hover:after {
    transform: translateX(-10px);
  }
}

.cred {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 3;
  font-size: 12px;
  color: white;
  text-shadow: 0.5px 0.5px 0 rgba(0, 0, 0, .5);
  text-decoration: none;
}
