@import '../../../client/scss/vars.scss';
@import '../../../client/scss/mixins.scss';

.container {
  position: relative;
  @include padding(40, 160);
}

.border {
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 20;
    pointer-events: none;
    transform-origin: 2% 0;
    transform: rotate(3deg);
    @include fp(height, 70, 200);

    div {
      width: 100%;
      background: $main;
      height: 100%;
      transform: rotate(3deg);
    }
}

.inner{
  max-width: $grid;
  margin: 0 auto;
  position: relative;
  z-index: 30;
  padding: 0 20px;
}

.line {
  position: absolute;
  height: 100%;
  width: 1px;
  left: 20px;
  background:$black;

  @include b(600px) {
    left: 55px;
  }
}

.line:before {
  top: -1px;
}

.line:after {
  bottom: -1px;
}

.line:before,
.line:after {
  content: "";
  width: 12px;
  height: 12px;
  background: $black;
  position: absolute;
  left: -5px;
  border-radius: 50%;
}
