@import '../../../client/scss/vars.scss';
@import '../../../client/scss/mixins.scss';

.jobs {
  color: #00bcd4;
  display: inline-block;
  position: relative;
  text-align: left;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.17);
  text-transform: uppercase;
  width: 100%;

  @include bm(600px) {
    min-height: 115px;
  }
}

.jobs li {
  display: inline-block;
  position: absolute;
  width: 100%;

  left: 0;
  top: 0;
  list-style-type: none;

  @include b(600px) {
    white-space: nowrap;
  }
}

.jobs li:first-child {
  position: relative;
}

.jobs i {
  transform-style: preserve-3d;
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  font-style: normal;
  min-width: 8px;
}

i.empty {

  @include bm(600px) {
    display: block;
    height: 1px;
    clear: both;
    flex: 1;
    width: 100%;
  }
}

.jobs .visible i {
  /*opacity: 1*/
}

.jobs i,
.jobs .out {
  animation: cd-rotate-2-out .4s forwards;
}

.visible .in {
  animation: cd-rotate-in .4s forwards;
  opacity: 1
}

@keyframes cd-rotate-in {
  0% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(90deg);
  }

  60% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(-10deg);
  }

  100% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(0deg);
  }
}

@keyframes cd-rotate-out {
  0% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(0deg);
  }

  60% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(-100deg);
  }

  100% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(-90deg);
  }
}
