.skill {
  color: white;
  padding: 6px 9px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

$node: #78b743;

.node {
  background-color: $node;
}

.git {
  background-color:#414141;
  color: white;
}

.php {
  background-color: #617cbe;
}

.angular {
  background-color: #dd1b16;
}

.javascript,
.javascriptes6 {
  background-color: #f8dc3d;
  color: #000;
}

.sass {
  background-color: #c6538c;
}

.drupal {
  background-color: #0c76ab;
}

.symfony {
  border: 1px solid black;
  background-color: white;
  color: black;
}


.css {
  background: linear-gradient(to right, #0070ba 50%, #26a7de 51%);
}

.wordpress {
  background-color: #1d8bbe;
}

.redux {
  background-color: #774abb;
}

.react,
.reactnative {
  background-color: #3b5998;
}

.mongodb {
  background-color: #8d7150;
}

.ux {
  background-color: #f7791f;
}
