@import '../../../client/scss/vars.scss';
@import '../../../client/scss/mixins.scss';

$b-hexa: 950px;

.container {
  background: $black;
  color: #fafafa;
  @include padding(80, 140);
}

.inner {
  max-width: $grid;
  margin: 0 auto;
  position: relative;
  transition: all 0.5s ease-out;
  -webkit-perspective: $b-hexa;
  perspective: $b-hexa;
  z-index: 10;
  padding: 0 20px;
}

.wrap {
  display: flex;
  margin-top: 100px;
  max-width: 100%;
  overflow: hidden;

  @include bm($b-hexa) {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
}

.wrapAir {
  margin:0;
  min-height: 600px;
}

.hexagons {
  max-width: 100%;
  display: inline-block;
  width: 500px;

  @include b($b-hexa) {
    min-height: 500px;
  }
}

.hexagonsDone {


  @include b($b-hexa) {
    min-height: 700px;
  }

  @include bm($b-hexa) {
    height: 300px;
  }
}

.thumbs {
  transform-style: preserve-3d;
  transform-origin: center 50%;
  z-index: 5;
  width: 300px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  transition: all 0.4s ease;

  @include bm($b-hexa) {
    transform: translateX(-50%);
  }

  @include b($b-hexa) {
    width: 500px;
  }
}

.workSelected {
  transform:rotateX(15deg) translateX(-50%);
  left: 50%;

  @include b($b-hexa) {
    left: 0;
    transform: rotateX(40deg) rotateY(0deg);
  }
}

.hexagon {
  float: left;
  position: relative;
  overflow: hidden;
  visibility: hidden;
   transform: rotate(120deg);
  cursor: pointer;

  cursor: pointer;
  text-decoration: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0.75;

  @include b($b-hexa) {
    width: 140px;
    height: 280px;
   margin: -72px 8px;
  }

  @include bm($b-hexa) {
    width: 80px;
    height: 160px;
    margin: -37px 8px;
  }
}

.hexagon:first-child,
.hexagon:nth-child(8n-2) {
        margin-left: 88px;

    @include bm($b-hexa) {
      margin-left: 55px;
    }
  }

.selectedHeca,
.hexagon:hover {
  transform: rotate(120deg) translateZ(10px);
  transition-duration: 200ms;
  opacity: 1;
}

.hexa0 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
}

.hexa1 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #6a6a62;
  visibility: visible;
  transform: rotate(-60deg);
  position: relative;
  overflow: hidden;
}
.hexa2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-size: contain;
  background-position: center;
}

.spotlight {
  display: inline-block;
  max-width: 500px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.workShown {
  opacity: 1
}

.spotlight h3 {
  margin-top: 10px;
}

.spotlight img {
  max-width: 100%;
  display: block;
  margin-bottom: 15px;
}

.spotlight p {
  margin-bottom: 20px;
}

.spotlight li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

.button {
  background-color: #00bcd4;
margin-top: 40px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  padding: 12px 20px;
}
