@import '../../../client/scss/vars.scss';
@import '../../../client/scss/mixins.scss';

.container {
  display: flex;
  position: relative;
  align-items: flex-start;;
  @include fp(padding-bottom, 50, 100);

  @include b(600px) {
    align-items: center;
  }
}

.container:last-child {
  padding-bottom: 40px;
}

.icon {
  background: $primary;
  border-radius: 50%;
  box-shadow: inset 0 0 0 20px $white;
  transition: box-shadow 0.3s ease;
  border: 1px solid $primary;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  margin-top: 48px;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  @include fp(margin-right, 30, 80);

  @include b(600px) {
    width: 70px;
    margin-left:0;
    height: 70px;
    margin-top: 0;
  }

}

.itemActive .icon {
  box-shadow: inset 0 0 0 0px $white;
}

.content {
  flex: 1;
  padding-top: 20px;
  transition: opacity 0.3s ease;

  @include b(600px) {
    opacity: 0.6;
    padding-right: 20px;
  }
}


.itemActive .content {
    opacity: 1;
}

.date {
  font-weight: 700;
      text-transform: uppercase;
  font-size: 14px;
}

.title {
  margin-bottom: 20px;
}

.text {
  transition: transform 0.2s ease;
}

.itemActive .text {
  @include b(600px) {
    transform: translateX(20px);
  }
}

.top {
  transition: transform 0.2s ease;
  transition-delay: 0s;
}

.itemActive .top {
  transition-delay: 0.05s;
  @include b(600px) {
    transform: translateX(20px);
  }
}
